<html>
<head>
    <title>Add Cakes</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module('postServiceApp', []);
        app.controller('postServiceCtrl', function ($scope, $http) {

        $scope.title = null;
        $scope.desc = null;
        $scope.image = null;
        $scope.lblMsg = null;
        $scope.postData = function (title, desc, image) {
            var cake = {
                title: title,
                desc: desc,
                image: image
                };

        //Call the services

        $http.post('/cakes', JSON.stringify(cake)).then(function (response) {
            $scope.msg = "Post Data Submitted Successfully!";
            $scope.statusval = response.status;
        }, function (response) {
            $scope.msg = "Service not Exists";
            $scope.statusval = response.status;
            $scope.statustext = response.statusText;
            $scope.headers = response.headers();
        });

    };

});
</script>
</head>

<body>

<div ng-app="postServiceApp" ng-controller="postServiceCtrl">

    <div>
        Title : <input ng-model="title" /><br/><br/>
        Description : <input ng-model="desc" /><br/><br/>
        Image Url : <input ng-model="image" /><br/><br/>

        <input type="button" value="Send" ng-click="postData(title, desc, image)" /> <br/><br/>
    </div>

    <p>Output Message : {{msg}}</p>
    <p>StatusCode: {{statusval}}</p>
    <p>Status: {{statustext}}</p>
    <p>Response Headers: {{headers}}</p>

</div>
</body>
</html>